td {
  background-color: #555;
}

.unclickedSquare:active {
  overflow:auto;
  background-color: #000;
}

.barrier {
  background-color: #f00;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
